.btn-wrap{
    
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    margin: 4px;
 
}

.btn-wrap:hover{
    opacity: 0.9;
}

.btn-reset{

    background-color: var(--infor);
}

.btn-delete{
    background-color: var(--danger);
}

.btn-add{
    background-color: var(--primary);
}

.btn-logout{
    background-color: var(--warning);
}

.btn-edit{
    background-color: var(--infor);
}



.btn-view{
    background-color: var(--secondary);
}

.btn-excel{
    
    background-color: var(--success);
}

.btn-save{
    width: 100%;
   
    background-color: var(--primary);
}

.btn-name{
    
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
}

.btn-icon{
    margin-right: 8px;
    font-size: 1.4rem;
    color: #fff;
}

.modal-header{
    padding: 20px ;
}

.modal-heading{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--primary);
}

.modal-body{
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-close{
    font-size: 1.4rem;
    color: var(--iconColor);
    font-weight: 600;
}
